asn1crypto==0.24.0
bitcoin-price-api==0.0.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
cryptography==2.3.1
enum34==1.1.6
future==0.16.0
httpretty==0.9.4
idna==2.6
ipaddress==1.0.22
pip==9.0.3
pycparser==2.18
python-dateutil==2.7.3
python-magic==0.4.15
requests==2.18.4
schedule==0.5.0
setuptools==39.0.1
six==1.11.0
urllib3==1.22
websocket-client==0.47.0